<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    .myLink {display: none}
    </style>
</head>
<body  background-color: white;>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b> KR & SW Project</b> &nbsp; &nbsp;<img src="{{ image }}"  style="width:10%; border: 2px solid white;" ></a>
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
          <a href="{{ url_for('regions_main') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EXPLORE BY REGIONS</a>
          <a href="{{ url_for('destinations') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DESTINATION</a>
          <a href="http://127.0.0.1:5000/attraction" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ATTRACTIONS</a>  
          <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"></a>
        </div>
      </div></br></br>

    <div class="w3-container w3-white">
        <div class="w3-panel w3-red w3-leftbar w3-padding-32">
            <h1><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> Explore By Attraction</h6>
          </div>
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
    <h1 style="font-weight: bold;">Tourism Search</h1>
    <form action="/search" method="post">
        <label for="attraction_type" style="font-weight: bold;">Select Attraction Type:</label>
        <select name="attraction_type" id="attraction_type">
            <option value="historical_cultural">Understand the past and Heritage</option>
            <option value="events_festival">Enjoy the creative events and colourful festival</option>
            <option value="natural_attractions">Capture the natural beauty and attractions</option>
            <option value="city">Explore the vibrant cities</option>
            <option value="museum">Visit the museums and educational sites</option>
            <option value="desert">Back Water Tourism</option>
        </select>
        <button type="submit" class="w3-button w3-dark-grey">Search</button>
    </form></br></br></div></div>

    <!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
    <h4><b>Knowledge Representation Semantic Web Project</b></h4>
   
    <p>Created by <b>Group 12</b></a></p>
  </footer>

</body>
</html>
